
body {
	margin: 0px;
}

h4 {
	font-size: 1.3vw;
	text-align: center;
	margin-bottom: 8%;
}

h5 {
	font-size: 1.1vw;
	font-weight: normal;
}

input[type=text], input[type=submit] {
	width: 100%;
	padding: 1%;
	margin: 2% 0%;
	border: 1px solid #000;
	box-sizing: border-box;
}

.navigate {
	flex: 1;
	margin: 0% 5%;
	vertical-align: top;
}

#navLinks {
	text-align: center;
	display: flex;
}

#footer {
	margin-top: 5%;
	display: flex;
	height: 24vw;
	bottom: 0;
}

.column {
	float: left;
	padding: 2%;
}

.left {
	width: 25%;
	background-color: #e0ecff;
}

.middle {
	width: 50%;
	background-color: #c9deff;
}

.right {
	width: 25%;
	background-color: #a6c8ff;
}

.responsiveImage {
	width: 10%;
	height: auto;
}



