
@font-face {
  	font-family: 'KrustyFont';
  	src: URL('MenuFont.ttf') format('truetype');
}

#navBar {
	padding: 0px;
	top: 0px;
	display: flex;
	position: fixed;
	width: 90%;
	height: 12%;
	box-shadow: 0px 2px 10px gray;
	background-color: rgb(216, 231, 150);
}

#logo {
	flex: 7%;
	width: 7%;
	vertical-align: middle;
	padding: 0.5% 2.2%;
}

#pages {
	flex: 93%;
	justify-content: center;
	display: flex;
	width: 93%;
	height: 10%;
	vertical-align: middle;
}

.navBox {
	padding: 3% 4%;
	font-size: 1.8vw
}

a {
	text-decoration: none;
	color: #990b00;
}

a:hover {
	color: red;
}