h1 {
	text-align: center;
	font-size: 4vw;
	margin-bottom: 4%;
}
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

	@font-face {
  		font-family: 'KrustyFont';
  		src: URL('MenuFont.ttf') format('truetype');
	}

body {
    padding: 4.5% 5% 0% 5%;
    margin: 0;
    background-image: url("krabbypatt.jpg");
    background-size: 2000px;
}

#show_men {
		border: #000 3px;
		background: url("option_for_food.jpg") no-repeat center center;
		background-size: cover;
		height: 30vh;
		width: 100%;
		text-align: center;
}

#explore_menu {
	font-size: 50px;
	position: relative;
	color:#000;
	/* background-color: #e8f0f7; */
	background-color: #fff;

}


.display_hover {
	display: none;
}


.data {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
    padding: 0.3% 0;
    align-items: center;
}

input, textarea, .button {
	resize: none;
    margin: 8px 0;
    padding: 1%;
    font-size: 16px;
    border-radius: 5px;
    border: #000 2px solid;
    font-family: Garamond;
}
input {
	height: 40px;
}

textarea {
	height: 64px;
}

.button {
	background-color: #fff;
	width: 160px;
	text-align: center;
	font-size: 12px;
	color:#000;
	padding: 6px;
	height: auto;
}

select {
	width: auto;
	height: 56px;
}

.display_hover:hover {
	/* position: absolute; */
	display: block;
}
.content {
    /* background-color: #FFF; */
    /* height: 6000px; */
}

.about_us {
    font-style: italic;
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    font-size: 28px;
}


a {
	text-decoration: none;
	/* color: #990b00; */
    color: #000;
}

a:hover {
    color: #faafc9;
}


